  
  * {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100vh;
  width: 100vw;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: gray;}
input:-moz-placeholder { color: gray;}
input::-moz-placeholder { color: gray;}
input:-ms-input-placeholder { color: gray;}

textarea::-webkit-input-placeholder { color:gray;}
textarea:-moz-placeholder { color: gray;}
textarea::-moz-placeholder { color: gray;}
textarea:-ms-input-placeholder { color: gray;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}
  
@media (min-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}